@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author:  Dajah Medina 
   Date:   11.28.18  
   
   Filename: gp_layout.css

   This file contains the layout styles and media
   queries used with sample pages from the Golden
   Pulps website.

*/


/* Import Basic Design Styles Used on All Screens */

@import url("gp_designs.css");

/* Flex Layout Styles */
/* I created a body tag and i set it to a display of webkit for the browser extention and the display of flex for the opposite of webkit and did a row wrap for teh elements. 
I then wrote a section element with an id of sheet and gave it a webkit and flex both set to the same thing. I then wrote a body tag with a child of article with another webkit and flex.  */
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

section#sheet {
    -webkit-flex: 3 1 301px;
    flex: 3 1 301px;
}

body>article {
    -webkit-flex: 1 3 180px;
    flex: 1 3 180px;
}

/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
   /* I did a media querie set for screens with a maximunm width of 480px and withing that I put in a image tag with an class of panel and set the width to 100% so it would take up the wole screen. I then put in a nav with a class of horizontal and gave it an order. Last thing I gave it was a body tag with the footer being a child of the body and then set the order for that. */
*/ @media only screen and (max-width: 480px) {
    img.panel {
        width: 100%;
    }

    nav.horizontal {
        order: 99;
    }

    body>footer {
        order: 100;
    }
}

/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/
/* I did a media querie for only screens width a minumum width of 481px and then put inside I put a nav tag with a class of horizontal and a ul. I then set the displays to webkit and flex and gave it a row of nowrap adn height of 40px. */
@media only screen and (min-width: 481px) {
    nav.horizontal ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        height: 40px;
    }

    /* I put a nav tag with an class and gave it the ul and li and set the wekits and flex. */

    nav.horizontal ul li {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    /* I gave each image a different width. */
    img.size1 {
        width: 100%;
    }

    img.size2 {
        width: 60%;
    }

    img.size3 {
        width: 40%;
    }

    img.size4 {
        width: 30%;
    }
}